header {
    text-align: center;
    background-color: rgb(37, 131, 37);
    color: white;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgb(6, 3, 0);
    padding: 5px;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header li {
    display: inline;
    padding-left: 3em;
    font-size: larger;
    
}
 header li a {
    color: #fefdfd;
    text-decoration: none;
    padding: 13px;
    transition: 3s ease;
    text-align: center;

 }

.active {
    color: rgb(243, 245, 249);

    
}

.contact {
    background-color: blue;
    border-radius: 50px;
    padding: 8px;
    
}

.lagos {
    text-align: center;
    color: green;
}
body {
    background-color: azure;
    }

.lags {
    position: fixed;
width: 62px;
}

.imgg {
    height: 40em;
}

footer {
    background-color: green;
    padding: 1px;
}

.textarea {
    width: 32em;
    height: 10em;
}


